strategy:
  matrix:
    mac:
      imageName: 'macos-10.13'
    linux:
      imageName: 'ubuntu-16.04'
    windows:
      imageName: 'vs2017-win2016'
pool:
  vmImage: $[ variables['imageName'] ]

steps:
  - bash: env
    displayName: env 
