strategy:
  matrix:
    windows-stable:
      imageName: 'vs2017-win2016'
      rustup.toolchain: stable
    mac-stable:
      imageName: 'macos-10.13'
      rustup.toolchain: stable
    linux-stable:
      imageName: 'ubuntu-16.04'
      rustup.toolchain: stable
    linux-beta:
      imageName: 'ubuntu-16.04'
      rustup.toolchain: beta
    linux-nightly:
      imageName: 'ubuntu-16.04'
      rustup.toolchain: nightly

pool:
  vmImage: $(imageName)
steps:
  - template: '_build/install-rust.yml'
  - script: cargo build --all
    displayName: Cargo build
  - script: cargo test --all
    displayName: Cargo test
