strategy:
  matrix:
    windows-stable:
      imageName: 'vs2017-win2016'
    mac-stable:
      imageName: 'macos-10.13'
    linux-stable:
    linux-beta:
      rustup_toolchain: beta
    linux-nightly:
      rustup_toolchain: nightly

pool:
  vmImage: coalesce($(imageName), 'ubuntu-16.04')
steps:
  - template: '_build/install-rust.yml'
  - script: cargo build --all
    displayName: Cargo build
  - script: cargo test --all
    displayName: Cargo test
