pool:
  vmImage: 'ubuntu-16.04'
steps:
  - script: |
      curl https://sh.rustup.rs -sSf | sh -s -- -y
      echo "##vso[task.setvariable variable=PATH;]$PATH:$HOME/.cargo/bin"
    displayName: Install rust
  - script: rustup component add clippy
    displayName: Install Clippy
  - script: cargo clippy --all
    display: Run clippy
